<div class="">
  <div class="icon d-flex align-items-center">
    <% if message.id == message.parent_id %>
      <%= link_to '<i class="fa fa-comment-o fa-lg text-primary" aria-hidden="true"></i>'.html_safe, chatroom_message_path(message.chatroom_id, message.id)%>
    <% else %>
      <%= link_to '<i class="fa fa-share fa-lg text-secondary" aria-hidden="true"></i>
'.html_safe , chatroom_message_path(message.chatroom_id, message.parent.id)%>
    <% end %>
    <span style="font-weight: 700;">
      <%= message.user.username%>
    </span>
  </div>

  <div class="ml-5 pl-2">
    <%= message.body %>
  </div>
</div>