<%= link_to chatroom_path(notification.notifiable) do %> 
  <div class="d-flex dropdown-item flex-nowrap align-items-center" data-behavior='notification' data-notification="<%= notification.id%>">
    <div class="mr-3">
      <div class="icon-circle bg-dark">
        <i class="fas fa-user-plus text-light"></i>
      </div>
    </div>

    <div class="d-flex flex-column">
      <% if notification.notifiable.status == '1on1' %>
        <div class="small text-gray-500"><%= " #{notification.actor.username}跟你開啟1-1對話" %></div>
      <% else %>
        <div class="text-500"><%= "#{notification.actor.username} - 把你加入至 #{notification.notifiable.name}" %></div>
      <% end %>
    </div>
  </div>
<% end %>
