<nav id="right-panel">
  <button type="button" id="rightPanelCollapse" class="btn">
    <i class="fas fa-times"></i>
  </button>
  <div id="loader"></div>
  <div class="result-loader text-center d-none">
    <%= render 'shared/ducks' %>
  </div>
  <div id="search-result">
  </div>
</nav>
