<div class="welcome-page">
    <%= image_tag "slowduck.svg", :title => "扶뒬매", :class => "index brand-logo" %>
  <div class="ducks">
    <%= image_tag "duck.svg", :title => "扶뒬매", :class => "duck-index" %>
  </div>
</div>
