<div class="container mt-5">
  <h1 class='small text-gray-900 mb-4'>創建聊天室</h1>
  <%= form_for(@chatroom) do |form| %>
  <div class="form-group row">
    <%= form.text_field :name, :class => 'form-control col-12 col-xl-5', :placeholder => '輸入聊天室名稱' %>
    <%= form.submit :class => 'btn btn-sm btn-dark mx-3' %>
  </div>
  <% end %>
</div>
