<div class="ducks">
  <%= image_tag "duck.svg", :title => "title", :class => "duck duck1" %>
  <%= image_tag "duck.svg", :title => "title", :class => "duck duck2" %>
  <%= image_tag "duck.svg", :title => "title", :class => "duck duck3" %>
  <%= image_tag "duck.svg", :title => "title", :class => "duck duck4" %>
</div>
