<div class="nav-item dropdown no-arrow mx-1 dropdown">
  <a class="dropdown-toggle" href="#" id="userInfoDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= user_image(user, 20) %>
  </a>
  <%= render 'shared/user_dropdown' , user: user %>
</div>
