<div class="d-flex dropdown-item align-items-center" data-behavior='notification' data-notification="<%= notification.id%>">
  <%= link_to chatroom_message_path(notification.notifiable.chatroom, notification.notifiable) do %> 
    <div class="mr-3">
      <div class="icon-circle bg-dark">
        <i class="fas fa-file-alt text-white"></i>
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="small text-gray-500"><%= " #{notification.actor.username} - 來自 #{notification.notifiable.chatroom.name}" %></div>
      <%= truncate( markdown(notification.notifiable.body), :length => 100, :escape => false) %>
    </div>
    <% end %>
</div>
