/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.atwho
 */

body {
  overflow: hidden;
}
html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

// sidebar
.sidebar .tab-menu-link{
    color: #fff;
    z-index: 1;
    padding: 16px;
    text-align:center;
}
.sidebar.toggled .nav-item{
    display: flex;
    flex-flow: column nowrap;
}
.sidebar.toggled .tab-menu-link{
    display: none;
}
@media (min-width: 768px) {
    .sidebar .tab-menu-link{
        position: absolute;
        left: 10rem;
        top: 0;
    }
}


// signin/signout page
#pop-up-block{
    position: fixed;
    top: 10vh;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:5;
}
#pop-up-block:after{
    content:'';
    position: fixed;
    display:block;
    z-index:-1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    height: 100vh;
    width: 100%;
}


@media screen and (max-width: 768px){
  .sidebar .tab-menu-link{
      display: none;
  }
  #pop-up-block{
    top: -3vh;
  }
}
// index-page welcome-text
.welcome-text{
  text-align: center;
  margin: auto;
  margin-top: 10vh;
}
.welcome-page {
  background-color: #fff;
  text-align:center;
}
.welcome-page img{
  max-width:200px;
  margin-top: 30px;
}

// loader 
.result-loader {
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 200px;
}

.history-loader{
  display: none;
}

.notification-list{
  overflow: auto;
  height: 300px;
}

