// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#chatroom {
    flex-flow: column nowrap;
    padding: 0px 50px 20px;
    line-height: 40px;
    font-size: 20px;
    margin-top: 10px;
}

.chatroom_top{
    padding: 20px;
    height: 80vh;
    background: #fff;
}
[data-behavior='messages']{
    margin-top: 20px;
    width: 100%;
    height: 60vh;
    overflow-y: auto; 
}

.fa{
    padding: 5px;
}
.form{
    margin: 5px;
}

textarea:focus{
    outline: none;
}

.nav-item{
    position:relative;
}
