// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#chatroom {
    padding: 0px 50px 20px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 5px;
    span{
        line-height: 50px;
        margin-left: 20px;
    }
}

[data-behavior='messages']{
    width: 100%;
    height: 780px;
    overflow-y: auto; 
}

.input {
    margin-left: 20px;
    line-height: 30px;
    font-size: 20px;
    border: none;
    margin-top: 8px;
    width: 100%;
}

.fa{
    padding: 5px;
}
.form{
    position: fixed;
    bottom: 0;
    left: 16.6666666%;
    width: 100%;
    background-color: #222;
    height: 100px;

}
form{
    width: 95%;

}