// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$input-border-focus: transparend;


#chatroom {
    min-width: 100%;
    min-height: calc(100vh - 4.375rem);
    flex-flow: column nowrap;
    padding: 10px 0px 20px;
    font-size: 20px;
}
#chatroom.active{
    min-width:60%;
}
.chatroom_top{
    box-sizing: border-box;
    height: 90%;
    background: #fff;

    h3 a{
      color: #333;
    }
    a:hover{
      text-decoration: none;
    }
}
#message-box{
    width: 100%;
    height: 74vh;
    overflow-y: auto; 
}
.fa{
    padding: 5px;
}
.form{
    width: calc(100vw - 14rem);
    min-height: 10%;
    position:fixed;
    bottom:0;
    padding: 5px;
    background-color: #fff;

  textarea{
    box-sizing: border-box;
    width: 100%;
    height:100%;
    padding: 1%;
    border:none;
  }
  textarea:focus{
    box-shadow :none;
  }
}
.form.sidebar-toggled{
    width: calc(100vw - 6.5rem);
}

.nav-item{
    position:relative;
}
// .message:hover{
  // background-color:#eee;
// }

.message-body{
  overflow-wrap: break-word;
}

#search-input:focus{
  outline: none;
  box-shadow:none;
}
#right-panel{
    position: relative;
    display:none;
}

#right-panel.active {
    display:block;
    min-width: 40%;
    max-width: 40%;
    height: calc(100vh - 4.35rem);
    overflow-y: auto;
    background-color: #fff;
    border-left: 8px solid #eee;
}
@media (max-width: 992px) {
    #right-panel {
      min-width: 200px;
      max-width: 200px;
    overflow-y: auto;
    }
}

@media (max-width: 768px) {
    #right-panel.active {
        display: block;
        position: absolute;
        height: 90vh;
        min-width: 100%;
        max-width: 100%;
        background-color: #fff;
        top:  0;
        left: 0; 
    }
    #right-panel {
      display:none;
    }
    #chatroom.active{
        width:100%;
    }
    .form{
      width: 100%;
    }

  #message-box{
      height: calc(70vh - 1.5rem);
  }
}


// scrool-bar
#message-box::-webkit-scrollbar-track,
#right-panel::-webkit-scrollbar-track
{
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  // background-color: #F5F5F5;
  border-radius: 20px;
}

#message-box::-webkit-scrollbar,
#right-panel::-webkit-scrollbar
{
	width: 6px;
  // background-color: #F5F5F5;
}

#message-box::-webkit-scrollbar-thumb,
#right-panel::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  background-color: #777;
}


.close1on1{
  display: none;
}
li.nav-item:hover > .close1on1{
  display:block
}
