// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#chatroom {
    padding: 20px;
    width: 100%;
    overflow: scroll;
    line-height: 40px;
    font-size: 20px;
    border-radius: 5px;
}


.input {
    margin-left: 20px;
    line-height: 30px;
    font-size: 20px;
    border: none;
    margin-top: 10px;
    width: 100%;
}