// signin/signout page
#pop-up-block{
  position: fixed;
  top: 10vh;
  left: 0;
  bottom: 0;
  right: 0;
  z-index:5;
}
#pop-up-block:after{
  content:'';
  position: fixed;
  display:block;
  z-index:-1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  height: 100vh;
  width: 100%;
}


@media screen and (max-width: 768px){
  .sidebar .tab-menu-link{
    display: none;
  }
  #pop-up-block{
    top: -3vh;
  }
}
