// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mention-at{
    background-color: #4e73df;
}
.mention-tag{
    background-color: #888;
}
.mention-user{
    background-color: #4e73df;
}
.mention-link{
    margin: 1px;
    display:inline-block;
    border-radius: 5px;
    color: #eee;
    padding: 4px 5px;
    font-size: 0.9rem;
}
.mention-link:hover{
    color: #fff;
    text-decoration:none;

}

.msg-hover{
  background-color: #eee;
}
.message {
  -webkit-transition:background .3s;
  -moz-transition:background .3s;
  -o-transition:background .3s;
  transition:background .3s
}
