// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-user-image{
    margin: 0px 12px;
    width: 35px;
    border-radius:50%;
    overflow:hidden;
}
.message-body{
    margin-left: 100px;
}
.message-user-name{
    font-weight: 700;
    font-size: 15px;
    line-height: 50px;
}
