.nav-item{
  position:relative;
}

.form-group{
  position: relative;
}

.container-fluid{
  position: relative;
  height: calc(100vh - 4.375rem);
  overflow-y: auto;

  input.form-control{
    border: none;
    border-bottom: 1px solid #666;
    border-radius: 0;
  }

  input.form-control:focus{
    outline: none;
    box-shadow: none;
  }
}
a:hover{
  text-decoration: none;
}

a.dropdown-item:active{
  background-color: #333;
}

.fa{
  padding: 5px;
}

.fa-bell{
  color: #fec52a;
}

.fa-markdown{
  color: #333;
}

.clearfix{
  clear: both;
}

.btn:focus{
  box-shadow: none;
  outline: none;
}

.close.devise{
  position: absolute;
  right:20px;
  top: 5px;
}
// sidebar
.sidebar{
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #333;
}
.sidebar .new-chatroom {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
    background: #fff;
}
.sidebar .tab-menu-link{
  color: #fff;
  z-index: 1;
  padding: 16px;
  text-align:center;
}
.sidebar.toggled .nav-item{
  display: flex;
  flex-flow: column nowrap;
}
.sidebar.toggled .tab-menu-link{
  display: none;
}
.sidebar.toggled .img-profile{
  display: none;
}
.sidebar{
  min-width: 6.5rem;
}
.sidebar.toggled{
  min-width: 0;
}

@media (min-width: 768px) {
  body{
    overflow-y: hidden;
  }
  .sidebar .tab-menu-link{
    position: absolute;
    left: 10rem;
    top: 0;
  }

  .sidebar{
    height: 100vh;
    min-width: 14rem;
  }
  .sidebar.toggled{
    min-width: 6.5rem;
  }
}

// loader 
.result-loader {
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 200px;
}

.history-loader{
  display: none;
}
.page-loader{
  z-index:10;
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 200px;
}
.black{
  content:'';
  position: absolute;
  display:block;
  background-color: rgba(256,256,256,.8);
  height: calc(100vh - 4.375rem);
  width: 100%;
  top: 0;
  left: 0;
}

// notification-list
.notification-list{
  overflow: auto;
  height: 300px;
}

// scrool-bar style
.message-box::-webkit-scrollbar-track,
#right-panel::-webkit-scrollbar-track,
.sidebarbar::-webkit-scrollbar-track,
{
  border-radius: 20px;
}

.message-box::-webkit-scrollbar,
#right-panel::-webkit-scrollbar,
.sidebar::-webkit-scrollbar
{
  width: 4px;
}

.message-box::-webkit-scrollbar-thumb,
#right-panel::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  background-color: #777;
}


// theme-yellow
.text-prime{
  color: #fec52a !important;
}
.bg-prime{
  background-color: #fec52a;
} 
.btn-prime{
  background-color: #fec52a;
  color: #fff;
}
.btn-prime:hover{
  background-color: #ffba00;
  color: #fff;
}

.img-profile{
  vertical-align: middle;
}
